body {
    background-color: #C7B2FF;
}

#bottom-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#bottom-container button{
     width: 100%;
     bottom: 0px;
     float: left;
     /* height: 100px; */
     font-size: 4em;
}

#bottom-container input{
    font-size: 4em;
}

.check-answer-container{
    bottom: 200px;
    position: fixed;
    width: 100%;
}

.check-answer img{
    float: right;
    margin-right: 35px;
    height: 300px;
}

.zagadka{
    font-size:2em;
}

.hidden{
    display: none;
}