Si<h1>Koszyk</h1>
<div>
  <label>
    Nazwa
    <input [(ngModel)]="item.name">
  </label>
  <label>
    Cena
    <input [(ngModel)]="item.price">
  </label>
  <label>
    Ilość
    <input [(ngModel)]="item.amount">
  </label>
</div>
<button (click)="add(item)">
  Save
</button>
<ul *ngIf="savedElements">
  <li *ngFor="let savedItem of savedElements">
    {{savedItem.name}}
    {{savedItem.price}}
    {{savedItem.amount}}
   <button (click)="remove(savedItem)">Remove
    </button>
  </li>
</ul>
<span>
  {{totalPrice}}
</span>